h1 {
    text-align: center;
    color: white;
    background-color: steelblue;
}

.sidebar {
    float: left;
}

.weatherDisplay {
    float: left;
}

.forcast {
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: steelblue;
    color: white;
}